#vs code
.history/
.vscode
.idea
.history
.DS_Store
#python
__pycache__/
*/__pycache__
*.egg-info
build
#lib
tests
thirdparty
thirdparty/

#develop
wandb
data
data/
*.pkl
*.pkl.json
*.log.json
work_dirs/
figures
cp.py

# Pytorch
*.pth
*.py~
*.sh~
launch.py

#nvidia
*.qdrep
*.sqlite

.pytest*
